#nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    border-bottom: solid white 2px;
    align-items: center;
    justify-content: center;
}

#title {
    color: white;
    font-size: 10vh;
    align-self: center;
    position: absolute;
    transition: all 0.1s ease-out
}

#title:hover {
    font-size: 11vh;
}

a {
    margin-right: auto;
    color: white;
}